<domain type='kvm'>
  <name>{{ vm_name }}</name>
  <memory unit='GiB'>{{ memory_gb }}</memory>
  <vcpu placement='static'>{{ cpu_number }}</vcpu>
  <os>
    <type arch='x86_64' machine='q35'>hvm</type>
    <boot dev='hd'/>
    <boot dev='cdrom'/>
    <kernel_args value="console=ttyS0,115200n8"/>
  </os>
  <devices>
    <controller type='pci' index='0' model='pcie-root'/>

    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='{{ disk_image_path }}'/>
      <target dev='vda' bus='virtio'/>
    </disk>

    <interface type='network'>
      <source network='{{ rhel_net_name }}'/>
      <model type='virtio'/>
    </interface>

    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='{{ iso_path }}'/>
      <target dev='sda' bus='sata'/>
    </disk>

    <serial type='pty'>
    <source path='/dev/ttyS0'/>
    <target port='0'/>
    </serial>
    <console type='pty'>
    <source path='/dev/ttyS0'/>
    <target type='serial'/>
    </console>

  </devices>
</domain>
